version: "3.9"

services:
  frontend:
    build: ./client
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network
    environment:
      - VITE_API_URL=http://backend:4000

  backend:
    build: ./server
    container_name: backend
    ports:
      - "4000:4000"
    networks:
      - app-network
    env_file:
      - ./server/.env

networks:
  app-network:
