version: "3.9"

services:
  frontend:
    build: ./client
    container_name: frontend
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./server
    container_name: backend
    networks:
      - app-network
    env_file:
      - ./server/.env

networks:
  app-network:
